<h1>My Interests</h1>

<p class="notice"><%= flash[:notice] %></p>
<p class="error"><%= flash[:error] %></p>

<p id="top"><h1 id="interests_header">FAVORITES</h1></p><div id="header"><div class="clear">
<% @favorites.each do |interest| %>
<div class="interest">
<%= image_tag "#{interest.id}.jpg" , class: 'circle' %><p>
<%= link_to interest.name, interest_path(interest.id), class: 'interest' %>
<%= link_to 'remove', interest_path( :interest_id => interest.id), method: :delete, class: 'favorite_remove' %>
</p></div>
<% end %>
</div></div>


<% @interests.each do |interest| %>
<div class="interest">
<%= image_tag "#{interest.id}.jpg" , class: 'circle' %><p>
<%= link_to interest.name, interest_path(interest.id), class: 'interest' %>
<%= link_to 'favorite', interests_path( :interest_id => interest.id), method: :post, class: 'favorite_add' %>
</p></div>
<% end %>
</div>
