<h1>User Profile</h1>

<p class="notice"><%= flash[:notice] %></p>
<p class="error"><%= flash[:error] %></p>

<table class="users table">
	<tr>
		<th>ID</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email Address</th>
		<th>Address</th>
		<th>City</th>
		<th>State</th>
		<th>Zip Code</th>
	</tr>
		<tr>
			<td><%= @user['id'] %></td>		
		    <td><%= @user['first_name'] %></td>
		    <td><%= @user['last_name'] %></td>
		    <td><%= @user['email_address'] %></td>
		   	<td><%= @user['address'] %></td>
		   	<td><%= @user['city'] %></td>
		   	<td><%= @user['state'] %></td>
		   	<td><%= @user['zip_code'] %></td>
		</tr>
</table>

<% if signed_in? %>
	<%= link_to 'Edit', edit_user_path(@user) %>
<% else %>
<% end %>