<script type="text/javascript">
	$(document).ready(function(){
	  $("address").each(function(){                         
	    var embed ="<iframe width='425' height='300' frameborder='0' scrolling='no'  marginheight='0' marginwidth='0'   src='https://maps.google.com/maps?&amp;q="+ encodeURIComponent( $(this).text() ) +"&amp;output=embed'></iframe>";
	        $(this).html(embed);                     
	   });
	});
</script>
<h2><%= @event['name'] %></h2>
</br>
<div class="span6">

	<p><strong>Created by: </strong><i><%= @owner.first_name%> on <%=@event.created_at.strftime('%A %B %d, %Y %H:%M %p')%></i></p>
	<strong>Description: </strong><%= @event.description %></br></br>
	<strong>Start Date: </strong><%= @event.start_date.strftime('%A %B %d, %Y') %></br>		
	<strong>Start Time: </strong><%= @event.start_time.strftime('%H:%M %p') %></br>	
	<strong>End Date: </strong><%= @event.end_date.strftime('%A %B %d, %Y') %></br>
	<strong>End Time: </strong><%= @event.end_time.strftime('%H:%M %p') %></br>
	<h4>Location:</h4>
	<strong><%= @event.location %></strong></br>	
	<%= @event.address %></br>	
	<%= @event.city %>, 	
	<%= @event.state %> 
	<%= @event.zip_code %></br>
	<%= @event.phone_number %>	
</div>

<div class="span5">
	<address>
		<strong><%= @event.location %></strong></br>	
		<%= @event.address %></br>	
		<%= @event.city %>, 	
		<%= @event.state %> 
		<%= @event.zip_code %></br>
		<%= @event.phone_number %>
	</address>
</div>

<div id="invitations" class="span12">
	
</div>

<div id="wall" class="span12">
	<h4>Post a comment:</h4>

	<%= simple_form_for([@event, @post]) do |p| %>
	  <%= p.input :content, :as => :text, :input_html => { class: 'input-large', :rows => 2 } %>
	  <%= p.button :submit, class: "btn btn-success" %>
	<% end %>

	<h4>Comments posted by users</h4>
	<% @posts.each do |post| %>
		<% if !post.content.nil? %>
			<p id="post_heading"><i>Comment posted on <%= post.created_at.strftime('%A %B %d, %Y %H:%M %p') %> by <small><%= post.user.first_name %> <%= post.user.last_name %>: </small></i></p>
			<p id="comment"><%= post.content %></p>
		<% end %>
	<% end %>
</div>