<div id="wrapper">

	<div class="span6">
		

	</div>

	<div class="span6">
		<a id="event_map" href="event.map"></a>
	</div>

	<div id="invitations" class="span12">
		
	</div>

	<div id="wall" class="span12">
		<h2>Post a comment:</h2>

		<%= simple_form_for [@event,@post] do |p| %>
		  <%= p.input :content %>:
		  <%= p.button :submit, class: "btn btn-success" %>
		<% end %>


		<h2>Comments posted by users</h2>

		<% @posts.each do |post| %>
			<% if !post.content.nil? %>
				<p id="post_heading"><i>Comment posted on <%= post.created_at %> by <small><%= post.author %>: </small></i></p>
				<p id="comment"><%= post.content %></p>
			<% end %>
		<% end %>
	</div>
</div>