<script type="text/javascript">
	$(document).ready(function(){
	  $("address").each(function(){                         
	    var embed ="<iframe width='425' height='300' frameborder='0' scrolling='no'  marginheight='0' marginwidth='0'   src='https://maps.google.com/maps?&amp;q="+ encodeURIComponent( $(this).text() ) +"&amp;output=embed'></iframe>";
	        $(this).html(embed);                     
	   });
	});
</script>

<h1><%= @event['name'] %></h1>

<p class="notice"><%= flash[:notice] %></p>
<p class="error"><%= flash[:error] %></p>

<br>

<div class="row">
	<div class="span6">
		<p>
			<strong>Created by: </strong><%= @owner.first_name%>
			<br>
			<strong>Created on: </strong><%=@event.created_at.strftime('%A, %B %d, %Y at %H:%M %p')%>
			<br>
			<strong>Description: </strong><%= @event.description %>
			</br></br>

			<strong>Start Date: </strong><%= @event.start_date.strftime('%A, %B %d, %Y') %>
			</br>		
			<strong>Start Time: </strong><%= @event.start_time.strftime('%H:%M %p') %>
			</br>	
			</br>
			<strong>End Date: </strong><%= @event.end_date.strftime('%A, %B %d, %Y') %>
			</br>
			<strong>End Time: </strong><%= @event.end_time.strftime('%H:%M %p') %>
			</br>
			</br>

			<strong>Event Location:</strong>
			</br>
			<%= @event.location %></br>
			<%= @event.address %></br>	
			<%= @event.city %>,  	
			<%= @event.state %> 
			<%= @event.zip_code %></br>
			<%= @event.phone_number %>
			<br>
		
		</p>
	</div>

	<!-- This the div for the Gmap -->
	<div class="span6">
		<strong>Event Location:</strong>
		<address>
			<%= @event.address %>
			<%= @event.city %> 	
			<%= @event.state %> 
			<%= @event.zip_code %>
		</address>
	</div>
</div>


<div id="invitations" class="span12"></div>


<div class="span12">
	<h2>Post a message!</h2>
    <div class="span10 well">
	<%= simple_form_for([@event, @post]) do |p| %>
	  <%= p.input :content, :as => :text, :input_html => { class: 'input-large', id: 'new_post', :rows => 3 } %>
	  <%= p.button :submit, class: "btn btn-info", value: 'Post!' %>
	<% end %>
</div>

<br>
<br>

<div class="span12">
	<% @posts.each do |post| %>
		<% if !post.content.nil? %>
			<div class="span10">
				<p id="post_heading">Posted on <%= post.created_at.strftime('%A, %B %d, %Y at %H:%M %p') %> by <strong><%= post.user.first_name %> <%= post.user.last_name %>: </strong></p>
				<div class="well">
					<p><%= post.content %></p>
				</div>
			</div>		
		<% end %>	
	<% end %>
</div>